@charset "utf-8";
body,h1,h2,h3,h4,h5,p,ul,,input{
                            margin: 0;
                            padding: 0;
                          }
body{
  font-family: 'Microsoft YaHei',SimSun,sans-serif;
}
img{
  vertical-align: middle;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
/*--end reset--*/
  .container {
    .header {
      .navMenu {
        //display: none;
        width: 32px;
        height: 32px;
        background: url("images/navMenu.png") no-repeat center;
        position: fixed;
        top: 20px;
        left: 10px;
        z-index: 500;
      }
      .goTop {
        width: 32px;
        height: 32px;
        display: none;
        background: url("images/goTop.png") no-repeat center;
        position: fixed;
        bottom: 20px;
        right: 10px;
        z-index: 500;
      }
      .menuList{
        padding-top: 10px;
        padding-bottom: 20px;
        display: none;
        background: rgba(0,0,0,0.5);
        width: 70%;
        min-width: 230px;
        //height: 195px;
        position: fixed;
        top: 60px;
        left: -5px;
        animation:menumove 2s ;
        -moz-animation:menumove 2s; /* Firefox */
        -webkit-animation:menumove 2s ; /* Safari and Chrome */
        -o-animation:menumove 2s ; /* Opera */
        //-ms-animation: menumove 2s ;
        a{
          display: block;
          height: 30px;
          line-height: 30px;
          text-align: center;
          color:#fff;
          &:hover{
            background-color: #29b078;
          }
        }
        ul{
          padding: 0 30px;
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          flex-direction: row;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          li {
            flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            a{
              background: url("images/spirit_company.png") no-repeat;
              width: 25px;
              height: 25px;
              margin: 0 auto;
              &.weChat{
                background-position: 0 0;
                flex: 1;
              }
              &.qq {
                background-position: -26px 0;
                flex: 1;
              }
              &.weibo {
                background-position: -53px 0;
                flex: 1;
              }
            }

          }


        }
      }
      @keyframes menumove
      {
        0% {left: -70%}
        30% {left:0}
        38%{left:-5px}


      }

      @-webkit-keyframes menumove /* Safari and Chrome */
      {
        0% {left: -70%}
        30% {left:0}
        38%{left:-5px}
      }

      @-moz-keyframes menumove /* Firefox */
      {
        0% {left: -55px}
        30% {left:0}
        38%{left:-5px}
      }

      @-o-keyframes menumove /* Opera */
      {
        0% {left: -55px}
        30% {left:0}
        38%{left:-5px}
      }
      @-ms-keyframes menumove /* Opera */
      {
        0% {left: -55px}
        30% {left:0}
        38%{left:-5px}
      }
      .top {
        /*display: none;*/
        background-color: #ffffff;
        .topMain {
          margin: 0 auto;
          padding: 0 15px;
          max-width: 1200px;
          //height: 40px;
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          justify-content: space-between;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          align-items: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          .call {
            font-size: 14px;
            color: #29b078;
          }
          ul {
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction: row;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            a {
              display: block;
              width: 25px;
              height: 25px;
              //margin-left: 16px;
              margin: 7.5px 0 7.5px 16px;
              background: url("images/spirit_company.png") no-repeat;
              &.weChat {
                background-position: 0 0;
                flex: 1;
              }
              &.qq {
                background-position: -26px 0;
                flex: 1;
              }
              &.weibo {
                background-position: -53px 0;
                flex: 1;
              }
            }
          }
        }
      }
      .nav {
        background-color: #29b078;
        width: 100%;
        .navMain {
          max-width: 1200px;
          margin: 0 auto;
          padding: 0 30px;/*if 15px,will have a X-scroll*/
          justify-content: space-between;
          -webkit-justify-content: space-between;
          align-items: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          -ms-flex-pack: justify;
          display: flex;
          display: -webkit-flex;
          display: -ms-flexbox;
          a.logo {
            display: inline-block;
            /*float: left;*/
            width: 108px;
            height: 50px;
            background: url("images/spirit_company.png") no-repeat 0 -133px;
            /*margin-top: 27px;*/
          }
          .link {
            margin-right: -30px;
            a {
              color: #ffffff;
              display: inline-block;
              width: 101px;
              //8.41666666666667%;
              //101px;
              height: 16px;
              line-height: 16px;
              padding: 42px 0 38px 0;
              text-align: center;
              border-bottom: 4px solid #29b078;
              &:hover {
                border-bottom-color: #fefefe;
              }
            }
          }
        }
      }
      .banner {
        background-color: #f1a750;
        width: 100%;
        text-align: center;
        .bannerMain {
          width: 100%;
          max-width: 1200px; /*把原来的背景改为img元素，加meta后图片自适应缩放*/
        }

      }
    }
    .main {
      max-width: 1200px;
      margin: 0 auto;
      background-color: #fafafa;
      overflow: hidden;
      padding: 0 15px; /*看起来舒服点儿*/
      .bread {
        float: left;
        width: 100%;
        font-size: 16px;
        /*border-bottom: 1px solid #d0d6d9;*/
        li {
          padding: 31px 0 33px 0;
          float: left;
          line-height: 16px;
        }
        a {
          color: #333333;
          &.now {
            color: #29b078;
          }
        }

      }
      .companyNav {
        width: 25.33333333333333%;
        //min-width: 165px;
        //304px;
        float: left;
        border: solid #ededed;
        border-width: 1px 1px 2px 1px;
        border-top-color: #f6f6f6;
        border-radius: 8px;
        background-color: #ffffff;
        .companyBrief{
          display: none;
        }
        a {
          display: block;
          //width: 304px;
          color: #29b078;
          padding: 17.5px 0;
          .circle {
            width: 10px;
            height: 10px;
            background: url("images/spirit_company.png") no-repeat -59px -194px;
            display: inline-block;
            margin-right: 6px;
            margin-left: 38.48684210526316%;
            //117px;
            &.circleNow {
              background-position: -18px -194px;
            }
          }
          &:hover {
            color: #ff650e;
            .circle {
              background-position: -18px -194px;
            }
          }
          &.companyNow {
            color: #ff650e;
          }
          .arrow{
            display: none;
            width: 24px;
            height: 21px;
            float: right;
            margin-right: 20px;
            background: url("images/arrow.png") no-repeat center;
          }
        }

        .companyHeader {
          height: 62px;
          text-align: center;
          line-height: 62px;
          border-bottom: 1px solid #e6e6e6;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
      .companyBrief {
        //width: 870px;
        width: 72.5%;
        float: right;
        border: solid #ededed;
        border-width: 1px 1px 2px 1px;
        border-radius: 8px;
        border-top-color: #f6f6f6;
        background-color: #ffffff;
        padding-bottom: 125px;
        margin-bottom: 15px;
        .brief {
          //height: 105px;
          overflow: hidden;
          border-bottom: 1px solid #e6e6e6;
          padding: 22px 0 30px 9.54022988505747%; /*83px;*/
          .companyLogo {
            display: inline-block;
            width: 123px;
            height: 32px;
            background: url("images/spirit_company.png") no-repeat -127px -151px;
            float: left;
            margin-right: 35px;
            margin-top: 37px;
          }
          p {
            max-width: 565px;
            //width:64.94252873563218%;
            //
            float: left;
            line-height: 30px;
            font-size: 14px;
            color: #999;
          }
        }
        .introduction p {
          //width: 729px;
          width: 87.24137931034483%;
          text-indent: 2em;
          margin: 4.59770114942529%;
          //40px auto 0;
          color: #999999;
          font-size: 14px;
          line-height: 30px;
        }
      }
    }
    .footer {
      width: 100%;
      /*display: flex;
      display: -ms-flexbox;*/
      background-color: #26a26f;
      /*flex-direction:column;*/
      border-top: 1px solid #d0d6d9;
      a {
        color: #ffffff;
      }
      .others {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        /*flex-wrap: wrap;
        -ms-flex-wrap: wrap;*/
        max-width: 1200px;
        margin: 0 auto;
        color: #ffffff;
        font-size: 14px;
        //overflow: hidden;
        h4 {
          font-size: 16px;
          padding-bottom: 25px;
        }
        p {
          height: 41px;
        }
        .about, .websites, .gongzhonghao {
          padding: 35px 15px 8px;
          flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
        }
        /*.about{
          //width: 361px;
          //float: left;
        }
        .websites{
          //width: 503px;
          //float: left;
        }*/
        .about{
          .aboutBr{
            display: none;
          }
        }
        .gongzhonghao {
          //width: 166px;
          //float: right;
          text-align: right;
          h4 {
            padding-bottom: 8px;
          }
          .erweima {
            width: 92px;
            height: 92px;
            //margin: 0 auto;
            float: right;
            background: url("images/spirit_company.png") no-repeat 0 -32px;
          }
        }
      }
      .copyright {
        text-align: center;
        padding: 8px 0;
        border-top: 1px solid #32c086;
        color: #ffffff;
        font-size: 13px;
        font-family: arial, 'Microsoft YaHei',SimSun,sans-serif;
        a {
          text-decoration: underline;
        }
      }
    }
  }
@media screen and (min-width: 701px) {
  .navMenu{
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .container{
    .header {
      .navMenu {
        display: block;
        animation: mymove 2.2s;
        -moz-animation: mymove 2.2s; /* Firefox */
        -webkit-animation: mymove 2.2s; /* Safari and Chrome */
        -o-animation: mymove 2.2s; /* Opera */
        //-ms-animation: mymove 2.2s;
      }
      .goTop{
        display: block;
      }
      @keyframes mymove {
        0% {
          top: -20px;
        }
        50% {
          top: 40px;
        }
        100% {
          top: 20px;
        }
      }

      @-moz-keyframes mymove /* Firefox */
      {
        0% {
          top: -20px;
        }
        50% {
          top: 40px;
        }
        100% {
          top: 20px;
        }
      }

      @-webkit-keyframes mymove /* Safari and Chrome */
      {
        0% {
          top: -20px;
        }
        50% {
          top: 40px;
        }
        100% {
          top: 20px;
        }
      }

      @-o-keyframes mymove /* Opera */
      {
        0% {
          top: -20px;
        }
        50% {
          top: 40px;
        }
        100% {
          top: 20px;
        }
      }
      @-ms-keyframes mymove /* Opera */
      {
        0% {
          top: -20px;
        }
        50% {
          top: 40px;
        }
        100% {
          top: 20px;
        }
      }
      .top {
        display: none;
      }
      .navMain {
        .link {
          display: none;
        }
        .logo {
          margin: 15px auto;
        }
      }
      .bannerMain{
        min-height: 100px;
      }
    }
    .main{
      .bread{
        display: none;
      }
      .companyBrief{
        display: none;
      }
      .companyNav{
        width: 100%;

        .companyHeader{
          margin-bottom: 0;
        }
        li{
          border-bottom: 1px solid #e0dcff;
          overflow: hidden;
          &:hover{
            /*.brief{
              //display: block;
              /!*transform: scale(1);
              -ms-transform: scale(1);	/!* IE 9 *!/
              -webkit-transform: scale(1);	/!* Safari 和 Chrome *!/
              -o-transform: scale(1);	/!* Opera *!/
              -moz-transform: scale(1);	/!* Firefox *!/!*!/
              /!*------------*!/
              height: 280px;
            }*/
            .brief{
              //height: $briefHeight;
              /*transition: height 2s;
              -moz-transition: height 2s;	/!* Firefox 4 *!/
              -webkit-transition: height 2s;	/!* Safari 和 Chrome *!/
              -o-transition: height 2s;	/!* Opera *!/*/
              display: block;
              animation:openList 1s,threeD 1s;
              -moz-animation:openList 1s,threeD 1s; /* Firefox */
              -webkit-animation:threeD 1s; /* Safari and Chrome */
              -o-animation:openList 1s,threeD 1s; /* Opera */
              //-ms-animation:openList 1s,threeD 1s;
              transform-origin:top;
              -webkit-transform-origin:top;
              -moz-transform-origin: top;
              -o-transform-origin: top;
              -ms-transform-origin: top;
            }
            @keyframes openList
            {
              from {
                transform: scaleY(0.1)}

              to {
                transform:scaleY(1)}
            }
            @-moz-keyframes openList
            {
              from {
                transform: scaleY(0.1)}

              to {
                transform:scaleY(1)}
            }
            @-webkit-keyframes openList
            {
              from {
                transform: scaleY(0.1)}

              to {
                transform:scaleY(1)}
            }
            @-o-keyframes openList
            {
              from {
                transform: scaleY(0.1)}

              to {
                transform:scaleY(1)}
            }
            @-ms-keyframes openDetail {
              from {
                transform: scaleY(0.1);
                -ms-transform: scaleY(0.1);
              }

              to {
                transform:scaleY(1);
                -ms-transform: scaleY(1);
              }
            }
            @keyframes threeD {
              from{
                transform:rotateX(-90deg);
              }
              to{
                transform:rotateX(0deg);
              }
            }
            @-moz-keyframes threeD {
              from{
                transform:rotateX(-90deg);
              }
              to{
                transform:rotateX(0deg);
              }
            }
            @-webkit-keyframes threeD {
              from{
                transform:rotateX(-90deg);
              }
              to{
                transform:rotateX(0deg);
              }
            }
            @-o-keyframes threeD {
              from{
                transform:rotateX(-90deg);
              }
              to{
                transform:rotateX(0deg);
              }
            }
            @-ms-keyframes threeD {
              from{
                transform:rotateX(-90deg);
                -ms-transform: rotateX(-90deg);
              }
              to{
                transform:rotateX(0deg);
                -ms-transform: rotateX(0deg);
              }
            }
            /*.companyBrief{
              height: $briefHeight;/!*注意优先级*!/
            }*/
            .arrow{
              -moz-transform:rotate(90deg);
              -webkit-transform:rotate(90deg);
              transform:rotate(90deg);
              filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
            }


          }

          /*.companyBrief{
            display: block;
          }*/
          a{
            .circle{
              margin-left: 35%;
            }
            .arrow{
              display: block;
            }
          }
          .companyBrief {
            display: block;
            //height: 0;

            /**/
            /*transform: scale(0.01);
            -ms-transform: scale(0.01);	/!* IE 9 *!/
            -webkit-transform: scale(0.01);	/!* Safari 和 Chrome *!/
            -o-transform: scale(0.01);	/!* Opera *!/
            -moz-transform: scale(0.01);	/!* Firefox *!/*/
            /*------------*/
            /*overflow: hidden;
            //height: 0;
            transition: height 2s;
            -moz-transition: height 2s;	/!* Firefox 4 *!/
            -webkit-transition: height 2s;	/!* Safari 和 Chrome *!/
            -o-transition: height 2s;	/!* Opera *!/*/

            /**/
            width: 100%;
            padding-bottom: 0;
            border-width: 0;

            margin: 5px 0; /*------------*/

          }
          .brief {
            /*transition: height 2s;
            -moz-transition: height 2s;	/!* Firefox 4 *!/
            -webkit-transition: height 2s;	/!* Safari 和 Chrome *!/
            -o-transition: height 2s;	/!* Opera *!/*/
            //height: 0;
            display: none;
            overflow: hidden;
            /*-----------------*/
            padding: 0;
            .companyLogo {
              display: block;
              margin: 20px auto;
              float: none;
            }
            p {
              float: none;
              text-indent: 2em;
            }


            .moreIntro{
              display: block;
              color: #29b078;
              overflow: hidden;
              span{
                float: right;
                margin-right: 15px;
              }
              .introduction{
                clear: both;
                display: none;
                //height: 200px;
                /*height: 0;*/
                /*transition: height 2s;
                -moz-transition: height 2s;	/!* Firefox 4 *!/
                -webkit-transition: height 2s;	/!* Safari 和 Chrome *!/
                -o-transition: height 2s;	/!* Opera *!/*/
                p{
                  width: 100%;
                  margin: 0;
                }
              }
              &:hover{
                color: #ff650e;
                .introduction{
                  display: block;
                  overflow: hidden;
                  animation:openList 1s,threeD 1s;
                  -moz-animation:openList 1s,threeD 1s; /* Firefox */
                  -webkit-animation:threeD 1s; /* Safari and Chrome */
                  -o-animation:openList 1s,threeD 1s; /* Opera */
                  //-ms-animation:openList 1s,threeD 1s;
                  transform-origin:top;
                  -ms-transform-origin: top;
                }

              }

            }

            /*----more-start----*/


            /*------more-end------*/


          }
        }
      }
    }
    .footer{
      .others{
        padding: 20px 5px 5px;
        .about,.websites,.gongzhonghao{
          padding: 0;
        }
        .about{
          .blankP{
            display: none;
          }
          a{
            display: block;
            width: 100%;
          }
          span{
            display: none;
          }
        }
        .websites{
          a{
            display: block;

          }
        }
        .gongzhonghao{
          h4{
            text-align: center;
          }
          .erweima{
            float: none;
            margin: 0 auto;
          }
        }
      }
    }

  }

}
@media screen and (max-width: 450px) {
  .container{
    .footer{
      .others{
        .about{
          .aboutBr{
            display: block;
          }
        }
      }

    }
  }
}

